:root {
  --primary-color: #EA1C26;
  --primary-color-rgb: 240, 133, 138; 	
  --secondary-color: #00A3E8;
  --secondary-color-rgb: 0, 163, 232;
  --tertiary-color: #0970A7;
  --tertiary-color-rgb: 233, 112, 167;
}